@font-face {
  font-family: "Lato Black";
  src: local("Lato Black") local("Lato-Black") url("/./assets/fonts/Lato-Black.woff") format("woff"), url("/./assets/fonts/Lato-Black.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato Regular";
  src: local("Lato Regular") local("Lato-Regular") url("/./assets/fonts/Lato-Regular.woff") format("woff"), url("/./assets/fonts/Lato-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}

body {
  font-family: 'Lato Regular', sans-serif;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 90%;
  margin: auto;
}

.posts-wrapper {
  display: flex;
}

@media screen and (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 576px;
  }
}

.header {
  background-color: #262D33;
  padding-top: 15px;
  padding-bottom: 15px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

.header-menu-toggle {
  display: none;
}

.header-light {
  background-color: #fff;
}

.header-light .logo-name {
  color: #4592FF;
}

.header-light .menu-item a {
  color: #939699;
}

.header-light .search-input {
  background-color: #f5f5f5;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-name {
  font-family: Roboto Slab, serif;
  color: #ffffff;
  font-size: 24px;
  margin-left: 10px;
}

.menu-item a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 15px;
  margin-right: 15px;
}

.search-form {
  position: relative;
  width: 25%;
  height: 40px;
}

.search-form input {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #656B70;
  border-radius: 10px;
  border: none;
  padding: 10px 25px;
  color: #111;
}

.search-form input::placeholder {
  color: #939699;
}

.search-form button {
  position: absolute;
  right: 20px;
  top: 0px;
  width: 25px;
  height: 40px;
  background-image: url(../img/search.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.custom-logo {
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 1200px) {
  .menu-item a {
    text-decoration: none;
    color: #ffffff;
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .search-form {
    width: 30%;
  }
  .header-wrapper {
    flex-wrap: wrap;
  }
  .header-nav {
    order: 5;
    padding-top: 30px;
  }
  .header-menu {
    flex-wrap: wrap;
  }
  .menu-item a {
    margin-left: 0;
    margin-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .search-form {
    margin-left: auto;
    width: 40%;
  }
  .header-wrapper {
    position: relative;
  }
  .header-nav {
    display: none;
    position: absolute;
    right: 0;
    top: 55px;
    width: calc(40% + 40px);
    background-color: #fff;
    padding: 30px;
    z-index: 99;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(38, 45, 51, 0.2);
  }
  .header-menu {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-menu a {
    color: #000;
  }
  .header-menu-toggle {
    display: flex;
    width: 30px;
    height: 20px;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 10px;
  }
  .header-menu-toggle span {
    width: 100%;
    height: 1px;
    background-color: #fff;
  }
  .header .menu-item:not(:last-child) {
    margin-bottom: 15px;
  }
}

.home {
  background-color: #E5E5E5;
}

.front-page-header {
  padding-top: 30px;
  background-color: #262D33;
  position: relative;
  height: 475px;
}

.hero {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  min-height: 570px;
  background-color: #fff;
  position: relative;
  z-index: 1;
}

.hero .left {
  flex-basis: 75%;
  position: relative;
  padding: 55px 55px 100px 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero .left::before {
  content: '';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: rgba(64, 48, 61, 0.4);
}

.hero .left .post-thumb {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  width: 100%;
}

.hero .left .author {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.hero .left .author-bio {
  margin-left: 10px;
}

.hero .left .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.85);
}

.hero .left .author-rank {
  color: rgba(255, 255, 255, 0.4);
}

.hero .left .avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.hero .left .post-title {
  font-size: 40px;
  line-height: 50px;
  color: #ffffff;
  font-family: 'Roboto Slab', serif;
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 590px;
}

.hero .left .post-text {
  z-index: 2;
  position: relative;
}

.hero .right {
  flex-basis: 25%;
}

.hero .right .recommend {
  margin-left: 25px;
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

.hero .right .posts-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .post {
  padding: 17px 25px 19px 25px;
  margin: 0;
  border-top: 1px solid #D9DADB;
  min-height: 100px;
}

.hero .post-categories {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hero .post-categories a {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-decoration: none;
}

.hero .post-permalink {
  text-decoration: none;
  color: #4B5157;
}

.hero .post:hover {
  background-color: #f5f5f5;
}

.hero .post-title {
  min-height: 40px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 8px;
}

.more {
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
  padding-right: 50px;
  border-radius: 20px;
  background: #4592FF;
  text-decoration: none;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  border: none;
  cursor: pointer;
}

.more:visited, .more:focus, .more:hover {
  color: #fff;
}

.category-link {
  color: #4592FF;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-decoration: none;
}

.category-link:visited {
  color: #4592FF;
}

.category-link.web-design {
  color: #FF4F52;
}

.category-link.web-design:visited {
  color: #FF4F52;
}

.category-link.articles {
  color: #3BBDC4;
}

.category-link.articles:visited {
  color: #3BBDC4;
}

.category-link.javascript {
  color: #AC8EE3;
}

.category-link.javascript:visited {
  color: #AC8EE3;
}

.category-link.html {
  color: #FFA34D;
}

.category-link.html:visited {
  color: #FFA34D;
}

.category-link.css {
  color: #6E99AE;
}

.category-link.css:visited {
  color: #6E99AE;
}

@media screen and (max-width: 1200px) {
  .hero .right {
    flex-basis: 35%;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    flex-direction: column;
  }
  .front-page-header {
    height: auto;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 480px) {
  .hero .left .post-text h2 {
    min-height: 40px;
    font-size: 25px;
    line-height: 30px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 8px;
  }
}

.article-list {
  margin: 0;
  margin-top: 180px;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  background-color: #30363D;
  border-radius: 10px;
}

.article-item {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 25px 35px;
  position: relative;
}

.article-item:not(:last-child)::after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  height: 70%;
  width: 1px;
  background-color: #4B5157;
  display: block;
}

.article-permalink {
  text-decoration: none;
  color: #ffffff;
  width: 150px;
}

.article-permalink:hover {
  color: #ffffff;
}

.article-permalink:visited {
  color: #fff;
}

.article-title {
  font-weight: 400;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 1024px) {
  .article-list {
    flex-wrap: wrap;
  }
  .article-item {
    width: 50%;
    padding: 25px;
  }
  .article-permalink {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  .article-list {
    margin-top: 30px;
  }
  .article-item {
    padding-top: 20px;
    padding-bottom: 30px;
  }
}

@media screen and (max-width: 576px) {
  .article-item {
    width: 100%;
  }
}

.main-grid {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;
}

.article-grid {
  width: 74%;
  margin: 0 0 60px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30%, 1fr));
  grid-template-rows: repeat(3, minmax(200px, max-content));
  grid-auto-rows: minmax(200px, max-content);
  grid-gap: 30px;
}

.article-grid-permalink {
  text-decoration: none;
  color: #262D33;
}

.article-grid-permalink:hover {
  color: #262D33;
}

.article-grid-permalink:visited {
  color: #262D33;
}

.article-grid-item {
  border-radius: 10px;
  background-color: #fff;
  overflow: hidden;
}

.article-grid-item-1 {
  grid-area: 1 / 1 / 2 / 3;
  padding: 35px 35px 53px 35px;
  position: relative;
  overflow: hidden;
}

.article-grid-item-1 .category-name {
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #6E99AE;
}

.article-grid-item-1 .article-grid-title {
  width: 90%;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-top: 20px;
  margin-bottom: 25px;
}

.article-grid-item-1 .article-grid-excerpt {
  font-size: 14px;
  line-height: 20px;
  width: 60%;
  margin-bottom: 40px;
}

.article-grid-item-1 .article-grid-info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 35px;
  border-top: 1px solid #D9DADB;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.article-grid-item-1 .article-grid-info .author {
  display: flex;
  align-items: center;
}

.article-grid-item-1 .article-grid-info .author-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
}

.article-grid-item-1 .article-grid-info .author-name {
  width: 390px;
  white-space: nowrap;
  overflow: hidden;
}

.article-grid-item-1 .article-grid-info .author-name strong {
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.article-grid-item-2 {
  grid-area: 1 / 3 / 2 / 4;
  position: relative;
  background-color: transparent;
}

.article-grid-item-2::before {
  content: '';
  position: absolute;
  z-index: 0;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  width: 100%;
  height: 100%;
}

.article-grid-item-2 .article-grid-thumb {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  object-fit: cover;
}

.article-grid-item-2 .article-grid-permalink {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  bottom: 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 25px;
}

.article-grid-item-2 .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin-top: 23px;
  margin-bottom: 27px;
  color: #ffffff;
}

.article-grid-item-2 .tag {
  padding: 5px 12px;
  background: #3DC47E;
  border-radius: 3px;
  color: #ffffff;
  font-size: 12px;
  line-height: 15px;
  text-transform: capitalize;
}

.article-grid-item-2 .category-name {
  margin-top: auto;
  color: #E7D9FF;
  font-family: 'Lato Black', sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
}

.article-grid-item-2 .author {
  display: flex;
  align-items: center;
}

.article-grid-item-2 .author-info {
  color: #ffffff;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
}

.article-grid-item-2 .author-avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.article-grid-item-2 .author-name {
  flex-basis: 100%;
}

.article-grid-item-2 .date, .article-grid-item-2 .comments, .article-grid-item-2 .likes {
  opacity: 0.3;
  display: flex;
  align-items: center;
}

.article-grid-item-2 .date:not(:last-child), .article-grid-item-2 .comments:not(:last-child), .article-grid-item-2 .likes:not(:last-child) {
  margin-right: 7px;
}

.article-grid-item-2 .date-counter, .article-grid-item-2 .comments-counter, .article-grid-item-2 .likes-counter {
  margin-left: 5px;
}

.article-grid-item-3 {
  grid-area: 2 / 1 / 4 / 2;
}

.article-grid-item-3 .article-thumb {
  height: 330px;
  object-fit: cover;
  width: 100%;
}

.article-grid-item-3 .article-grid-title {
  padding: 15px 25px 35px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
}

.article-grid-item-default {
  position: relative;
}

.article-grid-item-default .article-grid-permalink {
  padding: 25px 25px 30px;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.article-grid-item-default .article-grid-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0;
  margin-bottom: 5px;
}

.article-grid-item-default .article-grid-excerpt {
  margin-top: 0;
  margin-bottom: auto;
}

.comments {
  display: flex;
  align-items: center;
}

.comments-icon {
  fill: #BCBFC2;
}

.comments-counter {
  color: #939699;
  font-size: 12px;
  line-height: 15px;
  margin-left: 5px;
}

@media screen and (max-width: 1200px) {
  .article-grid {
    grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  }
}

@media screen and (max-width: 1024px) {
  .article-grid {
    width: 65%;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(300px, max-content));
  }
  .article-grid-item {
    grid-area: auto;
  }
  .article-grid-item .tag {
    margin-bottom: 30px;
  }
  .main-grid .sidebar-front-page {
    width: 100%;
  }
  .main-grid .sidebar-front-page .widget-social .widget-title {
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .main-grid {
    flex-wrap: wrap;
  }
  .article-grid {
    width: 100%;
  }
}

body {
  counter-reset: section;
}

.sidebar-front-page {
  width: 23%;
}

.sidebar-front-page .widget-social-wrapper {
  padding: 10px 30px 20px;
}

.widget {
  background-color: #fff;
  border-radius: 10px;
}

.widget-link {
  text-decoration: none;
}

.widget-title {
  padding: 20px 25px;
  border-bottom: 1px solid #D9DADB;
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Black", sans-serif;
  margin: 0;
  text-transform: uppercase;
}

.widget-downloader {
  background: #3BBDC4 url("../img/file.svg") no-repeat top 22px right 24px;
  border-radius: 10px;
  color: #ffffff;
  padding: 25px;
  padding-bottom: 55px;
  position: relative;
  margin-bottom: 30px;
}

.widget-downloader .widget-title {
  text-transform: none;
  margin-top: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  border: none;
  padding: 0;
}

.widget-downloader .widget-link {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 13px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
  color: #ffffff;
  text-decoration: none;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.widget-downloader .widget-link-icon {
  margin-right: 10px;
}

.widget-downloader .description {
  color: #C1F4F5;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

.widget-social-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.widget-social-icon {
  margin-left: 8px;
  margin-right: 8px;
}

.widget-social .widget-title {
  text-align: center;
  border: none;
}

.widget-social {
  padding: 35px 25px 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.widget-social .widget-link {
  text-decoration: none;
  margin-right: 3px;
  margin-left: 3px;
}

.widget-social .widget-link img {
  width: 35px;
  height: 35px;
}

.widget-social .widget-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 35px;
}

.widget-recent-posts-wrapper {
  padding: 0 25px 17px;
}

.widget-recent-posts a {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding-top: 17px;
  padding-bottom: 17px;
  position: relative;
}

.widget-recent-posts a:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.widget-recent-posts a::before {
  position: absolute;
  right: 5px;
  color: #262D33;
  opacity: 0.08;
  font-size: 70px;
  line-height: 50px;
  font-family: "Lato Black", sans-serif;
  font-style: italic;
  counter-increment: section;
  content: counter(section);
}

.widget-recent-posts img {
  width: 60px;
  height: 60px;
  margin-right: 10px;
}

.widget-recent-posts h4 {
  font-size: 14px;
  line-height: 20px;
  color: #4B5157;
  margin-top: 0;
  margin-bottom: 3px;
}

.widget-recent-posts span {
  color: #939699;
  font-size: 12px;
  line-height: 15px;
}

.tagcloud {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 25px;
  padding-bottom: 35px;
}

.tag-cloud-link {
  margin-right: 10px;
  margin-bottom: 15px;
  line-height: 20px;
  color: #262D33;
  text-decoration: none;
  padding: 5px 15px;
  border: 1px solid #D9DADB;
  border-radius: 5px;
}

.investigation {
  padding: 50px 0 55px;
  text-align: center;
  margin-bottom: 60px;
}

.investigation-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  color: #FFFFFF;
  max-width: 946px;
  margin: 0 auto 25px;
}

@media screen and (max-width: 576px) {
  .investigation-title {
    font-size: 24px;
    line-height: 1.4;
  }
}

.favourites {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 30px;
}

.digest {
  margin-top: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #fff;
  border-radius: 10px;
  padding: 0 25px;
  margin-right: 30px;
}

.digest-wrapper {
  width: 74%;
}

.digest-item {
  display: flex;
  align-items: center;
  padding: 25px 0;
}

.digest-item:not(:last-child) {
  border-bottom: 1px solid #D9DADB;
}

.digest-item-permalink {
  text-decoration: none;
  flex-shrink: 0;
}

.digest-thumb {
  width: 336px;
  height: 195px;
  object-fit: cover;
  margin-right: 25px;
}

.digest-info {
  position: relative;
  width: 100%;
}

.digest-title {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  color: #262D33;
  margin-top: 15px;
  margin-bottom: 10px;
  max-width: 400px;
}

.digest-excerpt {
  margin: 0 0 20px;
}

.digest-footer {
  display: flex;
  align-items: center;
}

.digest-date, .digest-likes, .digest-comments {
  margin-right: 11px;
  color: #939699;
  display: flex;
  align-items: center;
}

.bookmark {
  background-color: transparent;
  border: none;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
}

.bookmark svg path {
  fill: #BCBFC2;
}

.bookmark svg path:hover {
  fill: red;
}

@media screen and (max-width: 1200px) {
  .digest {
    width: 95%;
  }
  .digest-thumb {
    max-width: 250px;
  }
  .digest-title {
    max-width: 280px;
    font-size: 18px;
  }
  .posts-wrapper .sidebar-front-page {
    width: 30%;
  }
}

@media screen and (max-width: 1024px) {
  .digest {
    width: 100%;
  }
  .digest-wrapper {
    width: 100%;
  }
  .digest-item {
    flex-direction: column;
  }
  .digest-thumb {
    max-width: 100%;
    width: 100%;
    height: 250px;
    margin-bottom: 20px;
  }
  .posts-wrapper {
    flex-direction: column;
  }
  .posts-wrapper .sidebar-front-page {
    margin-top: 30px;
    width: 100%;
  }
}

@media screen and (max-width: 960px) {
  .favourites {
    flex-wrap: wrap;
  }
  .digest {
    width: 100%;
    margin-bottom: 30px;
  }
  .digest-item {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .digest-info {
    width: 100%;
  }
}

.special {
  background-color: #262D33;
  padding: 60px 0;
  color: #ffffff;
  margin-top: 60px;
}

.special-grid {
  display: flex;
  justify-content: space-between;
}

.photo-report {
  min-height: 570px;
  width: 49%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

.photo-report .category-link {
  color: #FFFFFF;
  border-radius: 3px;
  background: #3DC47E;
  font-size: 12px;
  line-height: 15px;
  align-self: start;
  text-transform: none;
  padding: 5px 12px;
  position: absolute;
  left: 18px;
  top: 18px;
  font-weight: bold;
}

.photo-report .author {
  text-align: center;
  text-decoration: none;
}

.photo-report .author-name {
  display: block;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}

.photo-report .author-rank {
  font-size: 12px;
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
}

.photo-report .author-avatar {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-bottom: 8px;
}

.photo-report::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(64, 48, 61, 0.35), rgba(64, 48, 61, 0.35));
  z-index: 1;
}

.photo-report-button {
  color: #ffffff;
  background: #4592FF;
  border-radius: 20px;
  padding: 10px 20px;
  text-decoration: none;
  fill: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.photo-report-button:hover {
  color: #ffffff;
}

.photo-report-counter {
  margin-left: 8px;
}

.photo-report-icon {
  margin-right: 8px;
}

.photo-report-content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 18px;
  height: 100%;
  text-align: center;
}

.photo-report-slider {
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.photo-report-slider .swiper-slide {
  height: 100%;
}

.photo-report-slider .swiper-slide img {
  width: 100%;
  height: inherit;
  object-fit: cover;
}

.photo-report-title {
  font-family: Roboto Slab;
  font-size: 40px;
  line-height: 50px;
}

.other {
  width: 49%;
}

.other-posts {
  display: flex;
  justify-content: space-between;
}

.other-post {
  width: 48%;
  padding: 25px 25px 30px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  min-height: 170px;
}

.other-post-title {
  margin: 0;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #262D33;
}

.other-post-excerpt {
  margin-bottom: auto;
  color: #4B5157;
  margin-top: 5px;
}

.other-post-date {
  color: #939699;
  margin-top: 10px;
}

.career-post {
  border-radius: 10px;
  overflow: hidden;
  background: #E5E5E5 url(../images/career.png) no-repeat right top/cover;
  min-height: 370px;
  padding: 35px;
}

.career-post-title {
  color: #262D33;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  max-width: 245px;
  margin: 20px 0 15px;
}

.career-post-excerpt {
  max-width: 214px;
  color: #4B5157;
  margin-bottom: 45px;
}

@media screen and (max-width: 1024px) {
  .special-grid {
    flex-wrap: wrap;
  }
  .photo-report {
    width: 100%;
    margin-bottom: 20px;
  }
  .other {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .photo-report {
    min-height: 400px;
  }
  .photo-report-title {
    font-size: 24px;
    line-height: 1.4;
  }
  .career-post {
    background-image: none;
  }
  .other-posts {
    flex-direction: column;
  }
  .other-post {
    width: 100%;
  }
}

.footer {
  padding: 60px 0 55px;
  background-color: #fff;
}

.footer-menu {
  border-top: 3px solid #000;
  padding-right: 20px;
  flex-basis: 100%;
}

.footer-menu:nth-child(1) {
  border-top: 3px solid #FF4F52;
}

.footer-menu:nth-child(2) {
  border-top: 3px solid #AC8EE3;
}

.footer-menu:nth-child(3) {
  border-top: 3px solid #4592FF;
}

.footer-menu:nth-child(4) {
  border-top: 3px solid #FFA34D;
}

.footer-menu:nth-child(5) {
  border-top: 3px solid #3DC47E;
}

.footer-menu:nth-child(6) {
  border-top: 3px solid #6E99AE;
}

.footer-menu-bar {
  display: flex;
  align-items: flex-start;
  padding-bottom: 60px;
}

.footer-menu-title {
  font-family: "Lato Black", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.footer-menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-menu ul a {
  text-decoration: none;
  display: inline-block;
  color: #4B5157;
  margin: 0 0 15px;
  font-size: 14px;
  line-height: 20px;
}

.footer-info {
  padding: 30px 0;
  border-top: 1px solid #D9DADB;
  border-bottom: 1px solid #D9DADB;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-info ul a {
  color: #262D33;
  text-transform: uppercase;
  text-decoration: none;
}

.footer-nav {
  display: flex;
  align-items: center;
  font-family: "Lato Black", sans-serif;
}

.footer-nav-wrapper {
  margin-right: auto;
}

.footer-text {
  max-width: 750px;
}

.footer-text-wrapper {
  color: #939699;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-top: 40px;
}

.footer-text-wrapper p {
  margin-top: 0;
  margin-bottom: 25px;
}

.footer-social .widget-title {
  display: none;
}

@media screen and (max-width: 1024px) {
  .footer-menu {
    flex-basis: 30%;
  }
}

@media screen and (max-width: 960px) {
  .footer-menu {
    flex-basis: 50%;
    margin-bottom: 20px;
  }
  .footer-menu-bar {
    flex-wrap: wrap;
  }
  .footer-info {
    flex-wrap: wrap;
  }
  .footer-social {
    margin-top: 30px;
  }
  .footer-text-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  .footer-menu {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
  .footer-nav {
    flex-direction: column;
    align-items: flex-start;
    margin-left: 10px;
  }
}

.post-header {
  padding: 60px 0 72px;
  color: #ffffff;
}

.post-header-wrapper {
  position: relative;
}

.post-header-info {
  display: flex;
  opacity: 0.4;
  align-items: center;
}

.post-header-info svg {
  fill: #fff;
}

.post-header-date {
  margin-right: 20px;
}

.post-header-likes, .post-header-comments {
  margin-right: 20px;
  display: flex;
  align-items: center;
}

.post-header-likes svg, .post-header-comments svg {
  margin-right: 5px;
}

.post-header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-header .home-link {
  text-decoration: none;
  color: #ffffff;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 20px;
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  align-items: flex-start;
}

.post-header .home-link svg {
  fill: #fff;
  margin-right: 6px;
}

.post-header .nav-links {
  min-width: 160px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.post-header .nav-links a {
  color: #ffffff;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
}

.post-header .nav-links svg {
  fill: #fff;
}

.post-header .nav-links .prev-icon {
  margin-right: 8px;
}

.post-header .nav-links .next-icon {
  margin-left: 8px;
}

.post-header .navigation {
  margin: 0;
}

.post-header .navigation .screen-reader-text {
  display: none;
}

.post-header p {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
}

.post-header-title {
  font-size: 55px;
  line-height: 70px;
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  max-width: 750px;
  margin-top: 52px;
  margin-bottom: 30px;
}

.post-header-title-wrapper {
  position: relative;
}

.post-header-title-wrapper .bookmark svg {
  width: 30px;
  height: 30px;
  fill: #BCBFC2;
}

.post-author {
  position: absolute;
  right: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid #D9DADB;
  min-width: 263px;
}

.post-author-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #4B5157;
  padding: 35px 25px 20px;
}

.post-author-avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.post-author-name {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin-top: 15px;
  margin-bottom: 5px;
  color: #262D33;
}

.post-author-rank {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 15px;
}

.post-author-posts {
  font-size: 14px;
  line-height: 20px;
  font-family: "Lato Black", sans-serif;
  color: #262D33;
}

.post-author-link {
  color: #262D33;
  padding: 15px 25px;
  text-decoration: none;
  border-top: 1px solid #D9DADB;
  width: 100%;
  text-align: center;
  font-family: "Lato Black", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.post-author-link:visited {
  color: #262D33;
}

.post-nav-prev, .post-nav-next {
  display: flex;
  align-items: center;
}

.post-content {
  padding-top: 60px;
  padding-bottom: 30px;
}

.post-content p {
  font-size: 18px;
  line-height: 30px;
  color: #4B5157;
  margin: 30px 0;
}

.post-content p:first-child {
  max-width: 623px;
}

.post-content .has-drop-cap:not(:focus):first-letter {
  color: #4592FF;
  font-family: "Lato Black", sans-serif;
}

.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6 {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
}

.post-content h1 {
  font-size: 30px;
}

.post-content h2 {
  font-size: 25px;
}

.post-content h3 {
  font-size: 22px;
}

.post-content h4 {
  font-size: 18px;
}

.post-content h5 {
  font-size: 16px;
}

.post-content h6 {
  font-size: 14px;
}

.post-content ul, .post-content ol {
  margin-top: 20px;
  padding: 0;
  margin-left: 20px;
  font-size: 18px;
  line-height: 30px;
}

.post-content blockquote {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  margin-left: 0;
  margin-top: 80px;
  margin-bottom: 45px;
  position: relative;
}

.post-content blockquote::before {
  position: absolute;
  top: -20px;
  left: -20px;
  content: '';
  background-image: url(../images/quote.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 70px;
  height: 70px;
  z-index: -1;
}

.post-content blockquote cite {
  font-style: normal;
}

.post .tags-links {
  padding-bottom: 60px;
  border-bottom: 1px solid #D9DADB;
  max-width: 623px;
  width: 100%;
  display: block;
}

.post .tags-links a {
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 15px;
  color: #262D33;
  border: 1px solid #D9DADB;
  border-radius: 5px;
  margin-right: 10px;
}

.post-excerpt {
  margin-top: 30px;
  margin-bottom: 42px;
  max-width: 650px;
}

.type-post {
  padding: 0;
  margin: 0;
  border: none;
}

.meks_ess {
  max-width: 623px;
  margin-top: 0;
}

.meks_ess_share_label {
  font-size: 25px;
  line-height: 30px;
  font-family: Roboto Slab;
  margin-bottom: 25px;
}
